@{ Layout = null; }

<!DOCTYPE html>
<html lang="vi" class="h-full">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title Quản trị - Ban khảo thí, kiểm định và đảm bảo chất lượng - TDMU</title>
    <link rel="shortcut icon" href="https://tdmu.edu.vn/hinh/Icon.png" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            font-size: 1rem;
        }



        .dropdown:hover .dropdown-menu {
            display: block;
        }
    </style>

</head>

<body class="min-h-screen flex flex-col bg-white text-gray-800 overflow-x-hidden">
    <!-- Header -->
    <div style="background-color: #00A5F3; color: black; ">
        @Html.Partial("TrangChuHeaderPartial")
    </div>

    <main class="flex-grow w-full">
        @RenderBody()
    </main>

    <div style="background-color: #00A5F3; color: black;">
        @Html.Partial("TrangChuFooterPartial")
    </div>


    <!-- Back to top button -->
    <button id="backToTop"
            class="hidden fixed bottom-6 right-6 bg-blue-600 text-white w-9 h-9 rounded-md shadow-lg hover:bg-blue-700 transition flex items-center justify-center"
            title="Lên đầu trang">
        <i class="fas fa-chevron-up"></i>
    </button>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   
    <script src="~/Scripts/Scripts/LayoutTrangChu.js"></script>
    <!-- Back to top logic -->
    <!-- Mục lục động trong Navbar -->
</body>

</html>
